.selected {
  border-radius: 1rem 1rem 0 0;
  background-color: #e0e0e0;
  transform: all; /* Change this to your preferred color */
}

.orangeSplit {
  background: linear-gradient(290deg, #f59439 50%, #ffffff 50%);
}
