.text-verticalButton {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* transform: rotate(90deg); */
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* transform: rotate(0deg); */
}
