.text-verticalButton {
  writing-mode: vertical-rl; /* Vertical text from top to bottom */
  text-orientation: mixed; /* Optional: Controls text orientation */
  transform: rotate(90deg); /* Optional: Rotate text if needed */
}

.text-vertical {
  writing-mode: vertical-rl; /* Vertical text from top to bottom */
  text-orientation: mixed; /* Optional: Controls text orientation */
  transform: rotate(0deg); /* Optional: Rotate text if needed */
}
