/* .searchInput {
  font-size: 16px;
  cursor: pointer;
}

.search {
  position: relative;
  display: inline-block;
}

.search-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.search:hover .search-content {
  display: block;
} */

/*  */
/*  */

/* .search-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.searchInput:focus .search-content {
  display: block;
} */

.search {
  position: relative;
  display: inline-block;
}

.search-content {
  position: absolute;
  z-index: 1;
}
