.FadeError {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.ulNav {
  list-style-type: none;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.liNav {
  height: 3rem;
  width: 6rem;
}

.liNav a {
  /* height: 3rem;
  width: 6rem;
  display: block; */
  color: #000;
  text-decoration: none;
}

/* Change the link color on hover */
.liNav a:hover {
  background-color: #555;
  color: white;
}

tr {
  font-size: 0.8rem;
  width: fit-content;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

th,
td {
  border: 1px solid black;
  height: 1.5rem;
  font-size: 0.8rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

@media (max-width: 767px) {
  table {
    border-collapse: collapse;
    font-size: 0.8rem;
  }
  tr {
    display: block;
    float: left;
    font-size: 0.8rem;
    width: fit-content;
  }
  th,
  td {
    display: block;
    border: 1px solid black;
    height: 1.5rem;
    font-size: 0.8rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}
